<!-- systems/mysystem/templates/chat/my-tooltip.hbs -->
<section class="tooltip-part">
	<div class="dice">
		<header class="dice-formula">{{formula}}</header>
		
		<!-- Iterate over each distinct dice term (e.g., the 2d6 part and the 1d4 part) -->
		{{#each dice}}
		<div class="dice-term">
			<strong>{{formula}}</strong> <!-- Formula for this specific term (e.g., 2d6) -->
			<ol class="dice-rolls">
				<!-- Iterate over the actual results within this term -->
				{{#each results}}
					{{result}}
				{{/each}}
			</ol>
		</div>
		{{/each}}

	</div>
</section>