<div class="dice-roll" data-action="expandRoll">
	{{#if flavor}}
	<div class="dice-flavor">{{flavor}}</div>
	{{/if}}
	<div class="dice-result">
		<h4 class="dice-total">View dice</h4>
		{{{tooltip}}}
		
	</div>
</div>
