<div class="dice-tooltip">
	<div class="wrapper">
		{{#if parts.length}}
			{{#each parts}}
			<div class="dice">
				<ol class="dice-rolls">
					{{#each this.rolls}}
					<li class="roll {{this.classes}}">{{{this.result}}}</li>
					{{/each}}
				</ol>
			</div>
			{{/each}}
		{{/if}}
	</div>
</div>
